
@{
    ViewBag.Title = "Home";
}

<h2>BookcaseManager - Strona główna</h2>
<p>Strona, która powstała podczas mojej nauki ASP.NET. Powtórzenie wiadomości oraz zastosowanie ich w praktyce. Aplikacja ma pomóc prowadzić ewidencje domowej biblioteczki i przeczytanych książek.</p>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card m-2">
                <div class="card-body text-center">
                    <p>Nasi użytkownicy dodali już <b>@(ViewBag.BookCount ?? 0)</b> książek!</p>
                    <small class="text-muted">Dołącz do nich już dzisiaj!</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Profil prywatny</div>
                <div class="card-body justify-content-center">
                    <a href="#" class="btn btn-primary">Zaloguj się</a>
                    <a href="#" class="btn btn-primary">Zarejerstruj się</a>
                </div>
            </div>
        </div>
    </div>
</div>